<div class="conainer">
    <h1>{{title}}</h1>

    <nav>
        <a routerLink="/first" routerLinkActive="active one">Interpolation</a>
        <a routerLink="/second" routerLinkActive="active two">Data binding</a>
        <a routerLink="/third" routerLinkActive="active three">Event Binding</a>
        <a routerLink="/fourth" routerLinkActive="active four">Reference</a>
        <a routerLink="/fifth" routerLinkActive="active five">Keyboard events</a>
    </nav>

    <router-outlet></router-outlet>
</div>
